<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>

<body>

<h1 style="color:navy;">ML-based COVID-19 Mortality Prediction from blood test</h1>
<h3>Fill in the all the fields of the following form</h3>

<div class="container">

    <form class="md-form" action="/prediction">
        <table class="table-bordered" style="width:80%" border="1">


            <tbody>
            <tr>
                <th style="width:30%">Attribute</th>
                <th style="width:30%">Input value</th>
                <th style="width:20%">Unit</th>
                <th>Range</th>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input class="form-control" type="text" id="age" name="age"></td>
                <td>Years</td>
                <td>1 - 100</td>
            </tr>

            <tr>
                <td><label for="eosinophilia">Eosinophilia</label></td>
                <td><input class="form-control" type="text" step="0.01" id="eosinophilia" name="eosinophilia" placeholder="">
                </td>
                <td>%</td>
                <td>0.0 - 9.0</td>
            </tr>

            <tr>
                <td><label for="platelet_count">Platelet Count</label></td>
                <td><input class="form-control" type="text" id="platelet_count" name="platelet_count" placeholder="4">
                </td>
                <td>count/ltr</td>
                <td>-1.0* 10^9 - 550.0 * 10^9</td>
            </tr>


            <tr>
                <td><label for="Lymphocytes">Prothrombin Activity</label></td>
                <td><input class="form-control" type="text" id="prothrombin_activity" name="prothrombin_activity"
                           placeholder="3"></td>
                <td>NA</td>
                <td>1.0 - 150.0</td>
            </tr>


            <tr>
                <td><label for="neutrophils_count">Neutrophils Count</label></td>
                <td><input class="form-control" type="text" id="neutrophils_count" name="neutrophils_count"
                           placeholder="0.5"></td>
                <td>NA</td>
                <td>0.0 - 40.0</td>
            </tr>


            <tr>
                <td><label for="lymphocytes">Lymphocytes</label></td>
                <td><input class="form-control" type="text" id="lymphocytes" name="lymphocytes" placeholder="0.3">
                </td>
                <td>%</td>
                <td>0.0 - 50.0</td>
            </tr>


            <tr>
                <td><label for="d_dimer">D Dimer</label></td>
                <td><input class="form-control" type="text" id="d_dimer" name="d_dimer" placeholder="0.1"></td>
                <td>NA</td>
                <td>0.0 - 25.0</td>
            </tr>

            <tr>
                <td><label for="lactate_dehydrogenase">Lactate Dehydrogenase</label></td>
                <td><input class="form-control" type="text" id="lactate_dehydrogenase" name="lactate_dehydrogenase"
                           placeholder="250"></td>
                <td>NA</td>
                <td>100 - 2000</td>
            </tr>

            <tr>
                <td><label for="nCoV_nucleic_acid_detection">2019 nCoV Nucleic Acid Detection</label></td>
                <td><input class="form-control" type="text" id="nCoV_nucleic_acid_detection"
                           name="nCoV_nucleic_acid_detection" placeholder="25"></td>
                <td>NA</td>
                <td>0 - (-1)</td>
            </tr>

            <tr>
                <td><label for="hypersensitive_c_reactive_protein">Hypersensitive C Reactive Protein</label>
                </td>
                <td><input class="form-control" type="text" id="hypersensitive_c_reactive_protein"
                           name="hypersensitive_c_reactive_protein" placeholder="15"></td>
                <td>NA</td>
                <td>0 - 350</td>
            </tr>

            <tr>
                <td><label for="thrombocytocrit">Thrombocytocrit</label></td>
                <td><input class="form-control" type="text" id="thrombocytocrit" name="thrombocytocrit"
                           placeholder="160"></td>
                <td>NA</td>
                <td>0.01 - 0.50</td>
            </tr>
            </tbody>
        </table>
        <div>
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>
<div>

</div>
<p>
    Most people infected with the virus will experience mild to moderate respiratory illness and recover without requiring special treatment.
    However, some will become seriously ill and require medical attention.
    Older people and those with underlying medical conditions like cardiovascular disease, diabetes, chronic respiratory disease, or cancer are more likely to develop serious illness.
    Anyone can get sick with COVID-19 and become seriously ill or die at any age.
</p>


</body>