<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/17033adab9.js" crossorigin="anonymous"></script>
    <title>OUTPUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}" />
</head>
<body>
   <h1>THE PROBABILITY OF PATIENT WILL RECOVER IS TOO LOW</h1>

    <i class="fa-regular fa-circle-xmark fa-10x"></i>


     <table class="table-bordered" style="width:50%" border="1">
         <tbody>
            <tr>
                <th style="width:8%">Attribute</th>
                <th style="width:8%">value</th>
                <th style="width:8%">Attribute</th>
                <th style="width:8%">value</th>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{data[0]}}</td>
                 <td>D Dimer</td>
                <td>{{data[6]}}</td>
            </tr>

            <tr>
                <td>Eosinophilia</td>
                <td>{{data[1]}}</td>
                <td>Lactate Dehydrogenase</td>
                <td>{{data[7]}}</td>
            </tr>

            <tr>
                <td>Platelet Count</td>
                <td>{{data[2]}}</td>
                <td>2019 nCoV Nucleic Acid Detection></td>
                <td>{{data[8]}}</td>
            </tr>


            <tr>
                <td>Prothrombin Activity</td>
                <td>{{data[3]}}</td>
                <td>Hypersensitive C Reactive Protein</td>
                <td>{{data[9]}}</td>

            </tr>

            <tr>
                <td>Neutrophils Count</td>
                <td>{{data[4]}}</td>
                <td>Thrombocytocrit</td>
                <td>{{data[10]}}</td>
            </tr>


            <tr>
                <td>Lymphocytes</td>
                <td>{{data[5]}}</td>
            </tr>

         </tbody>
     </table>

    <p>
        Older people, and those with underlying medical problems like cardiovascular disease,
        diabetes, chronic respiratory disease, and cancer are more likely to develop serious illness.
        Eosinopenia, if progressively worsening, indicates that COVID-19 patients may progress to critical disease and have a significantly higher chance of mortality.
        Additionally, eosinopenia correlates with biomarkers of coagulation disorder and those of tissue damage in kidney, liver, and other tissues.

        In COVID-19 patients, platelet count differs between mild and serious infections.
        Patients with mild symptoms have a slightly increased platelet count, whereas thrombocytopenia is a hallmark of severe COVID-19 infections
    </p>

</body>
</html>