<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/17033adab9.js" crossorigin="anonymous"></script>
    <title>OUTPUT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='output1.css') }}" />
</head>
<body>
   <h1>THE PROBABILITY OF PATIENT WILL RECOVER IS high</h1>

   <i class="fa-solid fa-check fa-10x"></i>


     <table class="table-bordered" style="width:50%" border="1">
         <tbody>
            <tr>
                <th style="width:8%">Attribute</th>
                <th style="width:8%">value</th>
                <th style="width:8%">Attribute</th>
                <th style="width:8%">value</th>
            </tr>
            <tr>
                <td>Age</td>
                <td>{{data[0]}}</td>
                 <td>D Dimer</td>
                <td>{{data[6]}}</td>
            </tr>

            <tr>
                <td>Eosinophilia</td>
                <td>{{data[1]}}</td>
                <td>Lactate Dehydrogenase</td>
                <td>{{data[7]}}</td>
            </tr>

            <tr>
                <td>Platelet Count</td>
                <td>{{data[2]}}</td>
                <td>2019 nCoV Nucleic Acid Detection></td>
                <td>{{data[8]}}</td>
            </tr>


            <tr>
                <td>Prothrombin Activity</td>
                <td>{{data[3]}}</td>
                <td>Hypersensitive C Reactive Protein</td>
                <td>{{data[9]}}</td>

            </tr>

            <tr>
                <td>Neutrophils Count</td>
                <td>{{data[4]}}</td>
                <td>Thrombocytocrit</td>
                <td>{{data[10]}}</td>
            </tr>


            <tr>
                <td>Lymphocytes</td>
                <td>{{data[5]}}</td>
            </tr>

         </tbody>
     </table>

    <p>
        To prevent the spread of COVID-19:
    Maintain a safe distance from others (at least 1 metre), even if they don’t appear to be sick.
    Wear a mask in public, especially indoors or when physical distancing is not possible.
    Choose open, well-ventilated spaces over closed ones. Open a window if indoors.
    Clean your hands often. Use soap and water, or an alcohol-based hand rub.
    Get vaccinated when it’s your turn. Follow local guidance about vaccination.
    Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
    Stay home if you feel unwell.
    </p>

</body>
</html>