*{
    margin: 0;
    padding: 0;
}
body{
    background: url(d2.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container{


}
h1{
    display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

table, th, td{
  background : none;
  height: 37px;
  border-collapse: collapse;

}
tr:hover {background-color: coral;}

th
{
 color:navy;
 height: 30px;
}
tr
{
    background : none;
    text-align: center;
  /*background-color:WhiteSmoke;*/
   font-family: Arial, Helvetica, sans-serif;
    color: black;
    table-layout: fixed;
}

.table input {
  width: 45%;
  height: 25px;
  margin-left: 17%;
}
.table label{
   font-weight: bold;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;

}

.btn{
    cursor: pointer;
    outline: none;
    width: 9%;
    border-radius: 10px;
    color: white;
    background-color: #0000FF;
    border: none;
    /*border: 2px solid MediumSeaGreen;*/
    margin-top: 5px;
    padding: 6px;
    margin-left: 70%;
}