*{
    margin: 0;
    padding: 0;
}
body{
    background: url(d2.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1{
    margin-top: 50px;

    color: navy;
    border-bottom: 2px solid red;
    text-align:center;
}
i{
margin-top: 3%;
margin-left: 43%;
color: red;
}

table, th, td{
   margin-top: 1%;
  background : white;
  height: 20px;
  color:navy;
  border: none;
}
tr:hover {background-color: white;}

tr
{
    background : none;
    text-align: center;
  /*background-color:WhiteSmoke;*/
   font-family: Arial, Helvetica, sans-serif;
    color: black;
    table-layout: fixed;
}
p{
margin-top:1%;

color: navy;
}